
<h2>So you want to know more about us...</h2>
<p>Well, we're all about kicking ass and taking names. Our process starts with creating a basic html file and sourcing in the proper scripts and styles so it doesn't look like a chump page from the mid-90's.</p>
<p>Next we write the logic in the scripts to give our apps the dope functionality. If you want to check out other projects by members our developement team, please check out their github.</p>
<ul ng-repeat="person in ac.listOfPeople">
  <li><a href="https://github.com/{{person.git_username}}" target="_blank">{{person.name}}</a></li>
</ul>
