<article class="container">
  {{tc.someThingToGOOnTheView}}
  <p>{{tc.someRandomArray[2]}}<p>
<label>New Task Name</label>
<input ng-model=tc.newTask.taskName>
<button ng-click="tc.addTask()">Add Task</button>
<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Done</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<tr ng-repeat="task in tc.taskList.list" ng-class="{complete: task.status}"}>
<td>-{{task.name}}</td>
<td><button ng-click="tc.updateTask(task.id)" ng-hide="task.status">Complete</button></td>
<td><button ng-click="tc.revertTask(task.id)" ng-show="task.status">Revert</button></td>
<td><button ng-click="tc.deleteTask(task.id)">Delete</button></td>
</tr>
  </tbody>
</table>
</article>
